NodeRed-flows.json
[{"id":"5acdf3c9.3b89ec","type":"tab","label":"Lumières TV","disabled":false,"info":""},{"id":"933f7b78.12bd98","type":"http in","z":"5acdf3c9.3b89ec","name":"","url":"/ledstv","method":"post","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["5f0aa2c2.51102c","af5c1129.9eee4"]]},{"id":"3fbf4571.84daba","type":"exec","z":"5acdf3c9.3b89ec","command":"python3 \"/home/pi/scripts/sp108e.py\"","addpay":false,"append":"\"is_active\"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":630,"y":420,"wires":[["4d75a2b6.d0617c"],[],[]]},{"id":"cac26a35.3ea1e8","type":"switch","z":"5acdf3c9.3b89ec","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"getState","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[["4f1afd3a.56eab4"],["3fbf4571.84daba"]]},{"id":"4f1afd3a.56eab4","type":"exec","z":"5acdf3c9.3b89ec","command":"python3 \"/home/pi/scripts/sp108e.py\"","addpay":false,"append":"\"toggle\"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":790,"y":240,"wires":[[],[],["3fbf4571.84daba"]]},{"id":"af5c1129.9eee4","type":"function","z":"5acdf3c9.3b89ec","name":"","func":"\nif(msg.payload.active == \"true\" || msg.payload.active == \"false\"){\n    msg.action = \"toggle\"\n}else{\n    msg.action = \"getState\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["cac26a35.3ea1e8","88c315b7.82e8e8"]]},{"id":"88c315b7.82e8e8","type":"debug","z":"5acdf3c9.3b89ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"action","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"a6a348a5.a97778","type":"inject","z":"5acdf3c9.3b89ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":520,"wires":[["3fbf4571.84daba"]]},{"id":"fa1215ff.b83568","type":"debug","z":"5acdf3c9.3b89ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":500,"wires":[]},{"id":"b15021b6.78945","type":"template","z":"5acdf3c9.3b89ec","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"is_active\": {{ payload }} }","output":"str","x":930,"y":460,"wires":[["a5b69ac8.30d518","6f3267a9.842b98"]]},{"id":"c4a7f718.2f9ff8","type":"http in","z":"5acdf3c9.3b89ec","name":"","url":"/ledstv","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["3fbf4571.84daba"]]},{"id":"d4e440a2.9583e","type":"change","z":"5acdf3c9.3b89ec","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":380,"wires":[["877f7d41.66548","fa1215ff.b83568"]]},{"id":"877f7d41.66548","type":"http response","z":"5acdf3c9.3b89ec","name":"","x":1330,"y":380,"wires":[]},{"id":"5f0aa2c2.51102c","type":"debug","z":"5acdf3c9.3b89ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":180,"wires":[]},{"id":"6f3267a9.842b98","type":"json","z":"5acdf3c9.3b89ec","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":380,"wires":[["d4e440a2.9583e"]]},{"id":"a5b69ac8.30d518","type":"debug","z":"5acdf3c9.3b89ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":580,"wires":[]},{"id":"4d75a2b6.d0617c","type":"function","z":"5acdf3c9.3b89ec","name":"","func":"if(msg.payload == 1){\n    msg.payload = true\n}else{\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":360,"wires":[["b15021b6.78945"]]}]